---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Model3 from '../components/Model3.astro'
import ModelY from '../components/ModelY.astro'
import TruckSection from '../components/TruckSection.astro';
import ModelX from "../components/ModelX.astro"
import ModelS from "../components/ModelS.astro"
import SolarPanels from '../components/SolarPanels.astro';
import SolarRoof from '../components/SolarRoof.astro';
import Powerwall from '../components/Powerwall.astro';
import Accessories from '../components/Accessories.astro'
---

<Layout title="Welcome to Astro.">
	<LandingHeader/>
	<main class="tracking-tighter relative w-full h-screen overflow-auto snap-y snap-mandatory scroll-smooth">
		<div class="snap-start">
			<Model3/>
		</div>
		<div class="snap-center">
			<ModelY/>
		</div>
		<div class="snap-center">
			<ModelX/>
		</div>
		<div class="snap-center">
			<ModelS/>
		</div>
		<div class="snap-center">
			<TruckSection/>
		</div>
		<div class="snap-center">
			<SolarPanels/>
		</div>
		<div class="snap-center">
			<SolarRoof/>
		</div>
		<div class="snap-center">
			<Powerwall/>
		</div>
		<div class="snap-center">
			<Accessories/>
		</div>

	</main>
</Layout>

