<section class="h-screen text-center flex flex-col relative overflow-hidden landing-section" data-header-color="black">
    <section class="absolute w-full h-full">
        <img class="w-full h-full object-cover object-center" src="/img/Accessories.avif" alt="">
    </section>

    
    <div class="z-10 text-black">
        <h1 class="text-4xl pt-20 pb-2 font-bold">Accessories</h1>	
    </div>

    <div class="flex flex-col flex-grow basis-0 justify-end z-10">
        <div class="flex justify-center items-center gap-6 font-medium text-sm pb-28">
            <button class="bg-slate-100 text-gray-700 rounded-md py-[10px] px-28 hover:bg-slate-200 transition-colors duration-300">Shop Now</button>
        </div>
    </div>
</section>
