<section class="h-screen text-center flex flex-col relative overflow-hidden landing-section" data-header-color="black">
    <section class="absolute w-full h-full">
        <img class="w-full h-full object-cover object-center" src="/img/model3.avif" alt="">
    </section>

    
    <div class="z-10">
        <h1 class="text-4xl pt-24 pb-2 font-bold">Model 3</h1>	
        <h3 class="text-[22px] font-medium">$7,500 Federal Tax Credit Available<sup class="text-sm">1</sup></h3>
        <p class="text-[22px] text-gray-700 font-semibold"><span class="border-b border-gray-700">From $29,990 After Est. Savings</span><sup class="text-sm">2</sup></p>
    </div>

    <div class="flex flex-col flex-grow basis-0 justify-end z-10">
        <div class="flex justify-center items-center gap-6 font-medium text-sm pb-28">
            <button class="bg-slate-100 text-gray-700 rounded-md py-[10px] px-24 hover:bg-slate-200 transition-colors duration-300">Order Now</button>
            <button class="bg-gray-950 text-slate-100 rounded-md py-[10px] px-24 hover:bg-gray-900 transition-colors duration-300">Demo Drive</button>
        </div>
    </div>
</section>
